<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easypoidemoadmin.dao.StudentDao">
    <insert id="insertBatch">
        insert into student(name,age,birth) values
        <foreach collection="list" item="item" separator=",">
            (#{item.name},
            #{item.age},
            #{item.birth}
            )
        </foreach>
    </insert>


    <select id="selectList" resultType="com.example.easypoidemoadmin.entity.Student">
        select t.*, t.age ageStr, t.birth birthStr
        from student t ${ew.customSqlSegment}
    </select>
</mapper>