<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.easypoidemoadmin.dao.UserDao">

    <!--批量插入-->
    <insert id="insertByBatch">
          <foreach collection="list" item="item">
              insert into user(username,name,sex,age,address)
              values(#{item.username},#{item.name},#{item.sex},#{item.age},#{item.address});
          </foreach>
    </insert>
</mapper>